@import url(base.css);


.__cabecalho {
    background-image: linear-gradient(to right, rgba(1, 176, 219, 0.8), rgba(9, 183, 140, 0.8));
    display: flex;
    font-family: museo;
    height: 100px;
    justify-content: center;
}

.__cabecalho-conteudo {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 15px 36px;
    width: 938px;
}

.__painel-login {

    align-items: center;
    align-self: center;
    border: solid 1px var(--branco);
    border-radius: 60px;
    color: var(--branco);
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: center;
    padding: 24px 14px;
}

.__painel-login p {
    font-size: 13.5px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0px;
    white-space: nowrap;
}

header .__area-h1 {
    background-color: #ffffff;
    border: solid 1px #c8c6c6;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;
    align-items: center;
}

header .__area-h1 h1 {
    color: var(--azul-turquesa);
    font-family: museo;
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
    justify-content: flex-start;
    padding-left: 36px;
    width: calc(1010px - 15px);
    margin-bottom: 0px;
}

.__painel-logo {
    background: url(../img/logo-Carioca-Digital.png);
    background-repeat: no-repeat;
    background-size: 194px 70px ;
    min-height: 70px;
    width: 194px;

}

.__painel-logo p{
    display: none;
}


@media screen and (max-width: 768px) {

    .__cabecalho {
        display: flex;
        flex-direction: column;
        height: 310px;
        min-width: 310px;
        justify-content: center;
    }

    .__cabecalho-conteudo {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }

    header .__area-h1 h1{
        padding-left: 15px;
    }

    .__painel-login{
        margin-top: 32px;
        padding-bottom: 14px;
        padding-top: 14px;
    }

    .__painel-login p {
        height: 20px;
        font-size: 13.5px;
        line-height: 20px;
        margin: 0px;
        padding: 2px;
        text-align: center;
    }
    
}