@import url(base.css);

.__container a{
    text-decoration: none;
}
.__container a:hover{
    text-decoration: underline;
}

.__container p {
    margin-bottom: 0px;
}

.form-row p {
    margin-top: 0;
    margin-bottom: 0;
}

.__label-initial {
    color: var(--cinza-letra);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: start;
}

.__group-in-input {
    margin-top: 5px;
}

.__span-initial {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    color: #212529;
    text-align: start;
}


.__span-quite {
    padding: 16px 0 16px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    color: #212529;
}


.form-control .__group-in-input{
    padding: 4px;
    margin-top: 5px;
    
}

.__input-quite {
    max-width: 140px;
    height: auto;
    
}

.__input-quite2 {
    max-width: 93px;
    height: 30px;
    margin-top: 5px;
}

.__grupo{
    margin-top: 40px;
}

.__grupo:first-child{
    margin-top: 0px;
}

.__titulo-de-grupo{
    margin-bottom: 20px;
    color: #686868;
    font-size: 13px;
    font-weight: 700;
    text-align: start;
    text-transform: uppercase;
}

.__group3-in-in .__col-autor-r{
    padding-right: 36px;
}

.__btn-parent label {
    font-family: museo300;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #C3C0C0;
    margin-top: 5px;
    text-align: start;
    justify-content: center;
    padding-bottom: 5px;
    white-space: nowrap;
}

.form-row .form-control{
    border-color: #cccccc;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 12px;
    font-style: normal;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
}

.form-row .form-control::placeholder{
    opacity: .5;
}

.__input-group .form-control::placeholder{
    opacity: .5;
}


@media (max-width: 992px) {


    .btn .__card-header-autor {
        display: none  ;
    }
    .btn .__close-inline {
        display: none  ;
    }

    .btn .panel {
        border: none  ;
    }
    
} 

@media (min-width: 768px) and (max-width: 992px) {   
    .col-md-6 {
        flex: 0 0 auto;
         width: auto; 
    }
}

@media (max-width: 410px) {

    .__label-button {
        text-align: start  ;
    }
}


/*essas classe acerta as margens esquerda e direita dos formulários de dois itens. Outras soluções são bem vindas.*/


@media (max-width: 992px) {
    .__group3-in-in .__col-autor-l {
        padding-right: 0px;

    }

    .__group3-in-in .__col-autor-r {
        padding-left: 0px;
    }
}

/*fim classes responsivas de duas colunas*/