@import url(base.css);


/*------------------inicial--------------------*/
.__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite-fundo);
    padding-top: 20px;

}

.__container {

    min-height: 800px;
    width: 1010px;
    height: auto;
    padding: 0 0 40px;
    background-color: var(--offwhite-fundo);
    padding: 32px 36px 162px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 38, 0.25);
    border: solid 1px #ccc;
    background-color: var(--branco);
}