@import url(base.css);

.__termoDeUso {
    display: grid;
    grid-template-columns: 17px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "check label"
    "invalid invalid" ;
}

.__termoDeUso #label-input-termo {
    margin-top: 0px;
    grid-area: label;
}

.__termoDeUso .__checkbox{
    grid-area: check;
}

.__termoDeUso .invalid-feedback {
    grid-area: invalid;
}


