@import url(base.css);

.accordion-button:not(.collapsed) {
    background-color: var(--branco)  ;
}

.accordion-button > input[type="checkbox" i] {
    align-self: flex-start;
}

.accordion-button::after {
    display: none  ;
}

h3 .accordion-button:not(.collapsed){
    background: none;
}

h3 .accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    padding: 10px  ;
    border: solid 1px #cccccc;
    margin-top: 5.2px;
}
.accordion-body .form-row {
    margin-bottom: 20px;
}

.show .accordion-body{
    padding: 10px;
}

.accordion-header {
    border-bottom: solid 1px #cccccc;
    border: solid 1px #cccccc;
}

.accordion-header:focus {
    border: solid 0.1px #cccccc  ;
}

.accordion-item {
    border: none  ;
}

.__el-esp{
    padding: 13px 0 13px 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #212529;
    margin-bottom: 3px;
}


@media screen and (max-width: 480px) {
    .__acc-button {
        border-top: none;
    }


    .accordion {
        border: none;
    }

    .accordion-header {
        border: none;
    }

    .accordion-body {
        background-color: var(--offwhite-fundo);
        border: none;
    }
}