@import url(base.css);

/* .__group2 {
    margin-top: 40px;
} */

.__acc-button{
    padding-left: 2px !important;
    border-top: solid 1px #cccccc;
}

.accordion-button:not(.collapsed){
    background-color: var(--branco) !important;
}

.accordion-button:focus{
    
    box-shadow: none !important;
}

/* .accordion{
     border: solid 1px #cccccc;
    
} */

.accordion-body{
    padding: 10px !important;
    border: solid 1px #cccccc; 
    margin-top: 5.2px;
}

.accordion-header{
    border-bottom: solid 1px #cccccc;
    border: solid 1px #cccccc; 
}

.accordion-header:focus{
    border:  solid 0.1px #cccccc !important;
}


.accordion-button::after{
    display: none !important;
}

.accordion-item{
    border: none !important;
}

@media screen and (max-width: 480px) {
    .__acc-button{
        border-top: none;
    }
    .accordion-button:focus{
        border: none;
    }

    .accordion{
        border: none;
    }

    .accordion-header{
        border: none;
    }

     .accordion-body {
        background-color: var(--offwhite-fundo);
        border: none;
     }
}
