@import url(base.css);

.__group-end {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #09b88a;
    font-family: museo700, museo;
    margin-top: 30px;
}

.__button-cancel {
    color: var(--verde-agua) !important;

    line-height: 20px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    width: 74px !important;   
    font-weight: 600;
    margin-left: 21px;
    
}

.__button-cancel:hover {
    color: #198754 !important;
    background-color: transparent !important;
}

.__button-submit {
    background-color: var(--verde-agua) !important;
    border-color: var(--verde-agua) !important;
    line-height: 20px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-weight: 600;
    padding: 5px 13px !important;
    
}

.__button-submit:hover {
    background-color: #198754 !important;
    border-color: #198754 !important;
    
}

#label-input-termo{
    margin-top: 0px !important;
    display: inline-block;
    margin-left: -3px !important;
}