@import url(base.css);

.__group-end {
    align-items: center;
    color: #09b88a;
    display: flex;
    justify-content: center;
    font-family: museo700, museo;
    margin-top: 36px;
    margin-top: 30px;
}

.__group-end .__button-cancel {
    color: var(--verde-agua)  ;
    font-size: 14px  ;
    font-weight: normal  ;
    font-weight: 600;
    line-height: 20px  ;
    margin-left: 21px;
    width: 74px  ;
    background-color: var(--branco);
}

.__group-end .__button-cancel:hover {
    background-color: transparent  ;
    color: #198754  ;
}

.__group-end .__button-submit {
    background-color: var(--verde-agua)  ;
    border-color: var(--verde-agua)  ;
    line-height: 20px  ;
    font-size: 14px  ;
    font-weight: normal  ;
    font-weight: 600;
    padding: 5px 13px  ;
}

.__group-end .__button-submit:hover {
    background-color: #198754  ;
    border-color: #198754  ;  
}

