@import url(base.css);

.__group3 {
    display: flex;
    flex-direction: column;
}

.__group3-in {
    margin-top: 20px;
    display: flex;
}

.__input-quite3 {
    padding-left: 0px;
    margin-right: 37px;
}


.__group-in-input::-webkit-input-placeholder{
    /* font-family: museo; */
    /* font-style: normal; */
    font-weight: 500 ;
    /* font-size: 15px ; */
    /* line-height: 20px ; */
    /* color: #C3C0C0 ; */
    opacity: .5;
    margin-top: 5px ;
    text-align: start;
    justify-content: center;
    padding-bottom: 5px ;
}

#inputCity {
    width: 451px;
}

#inputComplemento{
    width: 289px;
}

#inputBairro, #inputCidade{
    width: 287px;
}

#inputnum {
    margin-top: 5px;
    width: 124px;
}

#inputEstado {
    margin-top: 5px;
    font-size: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 213px;
}

.__row-descricao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.__span-quite-3 {
    font-style: normal;
    font-weight: 500;

    font-size: 15px;
    line-height: 20px;
    /* margin-top: 5px; */
    color: #212529;
}

select.form-control {
    -webkit-appearance: menulist;
}

@media screen and (max-width: 480px) {
    .__group3-in {
        margin-top: 0px;
        flex-direction: column;
    }

    .__group3-in-in>label {
        margin-top: 20px;
    }

    .form-group .__group-in-input {
        width: calc(100vw - 36px);
    }

    .__input-quite3 {
        margin-right: 0px;
    }
    #inputCity {
        width: 100%;
    }

    #inputnum {
        width: 126px;
        padding: 4px;
    }

    #cep {
        width: 91px;
        padding: 4px;
    }

    #inputEstado {
        width: 213px;
        padding: 4px;
    }


}