@import url(base.css);

.__input-grupo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

tr {
    margin-top: 16px;
}

td .__grupo-in-input{
    margin-top: 0px;
    height: 30px;
    
}

.__grupo-arquivo {
    display: flex;
    flex-direction: column;
}

.__grupo-arquivo tr {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding-bottom: 15px;
    color: #212529;
    font-size: 15px;
    line-height: 20px;
}

.__grupo-arquivo tbody tr, .__grupo-arquivo tfoot tr{
    border-bottom: none;
}

.__grupo-arquivo thead tr {
    border-bottom: solid 1px #cccccc;
    margin-top: 14px;
    padding-bottom: 13px;
}

.__grupo-arquivo tfoot {
    display: flex;
    justify-content: flex-end;
    padding-right: 36px;
}

.__arquivos {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

td .__close-inline, .__close-line {
    width: 19px;
    height: 19px;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    color: #000;
     background: url(../img/x.png);
     background-repeat: no-repeat;
     border: 0;
    border-radius: 0.25rem;
}

.__close-inline {
    margin-left: 2px;
}

.__close-line {
    display: none  ;
}

.__el-comum-arq {
    display: block;
    font-style: normal;
    font-weight: 500;

    font-size: 15px;
    line-height: 20px;
    color: #212529;
    align-self: center;
    margin-left: 16px;
}

.__grupo-arquivo table{
border-radius: 4px  ;
border-color: #cccccc  ;
}

input[type="file"] {
    display: none;
}

.__grupo-arquivo .invalid-feedback {
    white-space: nowrap;
}

/*-------------------------inicio estilização do botão de inserir arquivos*/

.__btn-parent .__button-file {
    border-color: var(--verde-agua);
}

.__icon-file{
    padding: 1px;
}

.__icon-file:hover path {
    fill: #f5f5f5  ;
}

.__path-icon:hover {
    fill: #f5f5f5  ;
}

.__button-file:hover {
    background-color: #09B88A  ;
    border-color: #09B88A  ;
}

.__button-file{
    margin-bottom: 3px;
    font-size: 0.8rem  ;  
    border-color: var(--verde-agua) ;
}

.__icon-file:hover+.__el-button {
    color: #f5f5f5  ;
}

.__el-button:hover {
    color: #f5f5f5  ;
}

.__el-button:hover~.__path-icon {
    fill: #f5f5f5  ;
}

.__el-button {
    text-align: end;
    color: var(--verde-agua);
    height: 100%;
    line-height: 20px  ;
    font-size: 12px;
    font-family: museo700, museo;
    letter-spacing: -0.48px;
    white-space: nowrap;
}

.__btn-parent {
    text-align: end;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
    width: 173px;
}

.__btn-parent summary{
    font-family: museo300;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #C3C0C0;
    margin-top: 5px;
    text-align: start;
    justify-content: center;
    padding-bottom: 5px;
    white-space: nowrap;
    display: block;
    cursor: help;
}

.__btn-parent>.btn {
    padding: 5px 11px 5px 6.5px  ;
}

.__el-button {
    text-align: end ;
}


/*-------------------------fim estilização do botão de inserir arquivos*/

@media screen and (max-width: 480px) {
    .__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        background-color: var(--offwhite-fundo);
        padding: 15px 4px;
    }

    .__grupo-arquivo .card {
        border: none;
    }

    .__grupo-arquivo tr {
        border-bottom: none;
    }

    .__grupo-arquivo thead tr{
        display: none;
    }


    tbody tr:first-child{
        padding-top: 15px;
        margin-top: 0px;
    }

    .__grupo-arquivo tfoot {
        justify-content: flex-start;
    }

    .__el-comum-arq {
        align-self: start;
        margin-left: 4px;
        margin-bottom: 4px;
    }

    .__close-line {
        display: block  ;
    }

    .__btn-parent {
        text-align: start;
    }

    .__input-grupo {
        margin-left: 0px;
    }

    .__grupo-arquivo table{
        border: none  ;
    }

    tbody {
        padding: 0px  ;
    }

    .__grupo-arquivo tr {
        display: flex;

    }

    .__close-inline {
        display: none;
    }

    .__el-button {
        text-align: start ;
    }
    
}
