@import url(base.css);

.__group-end {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #09b88a;
    font-family: museo700, museo;
    margin-top: 30px;
}

.__button-cancel {
    color: var(--verde-agua)  ;

    line-height: 20px  ;
    font-size: 14px  ;
    font-weight: normal  ;
    width: 74px  ;   
    font-weight: 600;
    margin-left: 21px;
    
}

.__button-cancel:hover {
    color: #198754  ;
    background-color: transparent  ;
}

.__button-submit {
    background-color: var(--verde-agua)  ;
    border-color: var(--verde-agua)  ;
    line-height: 20px  ;
    font-size: 14px  ;
    font-weight: normal  ;
    font-weight: 600;
    padding: 5px 13px  ;
    
}

.__button-submit:hover {
    background-color: #198754  ;
    border-color: #198754  ;
    
}

#label-input-termo{
    margin-top: 0px  ;
    display: inline-block;
    margin-left: -3px  ;
}