@import url(base.css);

.__group3 {
    display: flex;
    flex-direction: column;
}

.__group3-in {
    margin-top: 20px;
    display: flex;
}

.__input-quite3 {
    padding-left: 0px;
    margin-right: 37px;
}

.__group-in-input {
    margin-top: 5px;

}

.__group-in-input::-webkit-input-placeholder{
    font-family: museo300, museo;
    font-style: normal;
    font-weight: 500 ;
    font-size: 15px ;
    line-height: 20px ;
    color: #C3C0C0 ;
    opacity: .5;
    margin-top: 5px ;
    text-align: start;
    justify-content: center;
    padding-bottom: 5px ;
}

#inputnum {
    margin-top: 5px;
}

#inputEstado {
    margin-top: 5px;
    font-size: auto;
    padding-top: auto;
    padding-bottom: 0px;
}

.__row-descricao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.__span-quite-3 {
    font-style: normal;
    font-weight: 500;

    font-size: 15px;
    line-height: 20px;
    /* margin-top: 5px; */
    color: #212529;
}

select.form-control {
    -webkit-appearance: menulist;
}

@media screen and (max-width: 480px) {
    .__group3-in {
        margin-top: 0px;
        flex-direction: column;
    }

    .__group3-in-in>label {
        margin-top: 20px;
    }

    .__group-in-input {
        width: calc(100vw - 36px) !important;
    }

    .__input-quite3 {
        margin-right: 0px;
    }

    #inputnum {
        width: 126px;
        padding: 4px;
    }

    #cep {
        width: 91px;
        padding: 4px;
    }

    #inputEstado {
        width: 213px;
        padding: 4px;
    }


}